body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .quest {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    color: white;
    font-size: 20px;
    position: absolute;
    margin: 10px;
    cursor: pointer;
  }
  
  #exit {
    background-color: red;
    width: 150px;
    height: 50px;
    border-radius: 5px;
  }
  
  #painting-people {
    background-color: magenta;
    width: 200px;
    height: 200px;
  }
  
  #fingerpainting {
    background-color: green;
    width: 150px;
    height: 150px;
  }
  
  #childrens-painting {
    background-color: blue;
    width: 180px;
    height: 180px;
  }
  
  #learning-watercolor {
    background-color: violet;
    width: 160px;
    height: 160px;
  }
  
  #learning-sketching {
    background-color: orange;
    width: 150px;
    height: 150px;
  }
  
  .quest span {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 10px;
  }
  
  .sun-container {
    width: 100px; 
    height: 100px; 
    background-image: url('/Users/rilynhan/Desktop/quest_list/sun.jpg'); 
    background-size: cover;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    position: fixed; 
    bottom: 0px; 
    left: 0px;
  }
  
  .back-button {
    background-color: yellow;
    color: black;
    border-radius: 50px;
    padding: 5px;
    cursor: pointer; 
    position: absolute; 
    bottom: 28px; 
    left: 55px;
    font-size: 8px; 
    transform: translateX(-50%);
  }



  .quest, #exit {
    text-decoration: none; 
    color: white; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    font-size: 20px;
    position: relative;
    margin: 10px;
    cursor: pointer;
}

#exit {
    background-color: red;
    position: absolute; 
    top: 0;
    left: 0;
    margin: 10px; 
    width: auto; 
    height: auto; 
    width: 150px;
    height: 50px;
    border-radius: 5px;
}
  
  
.join-message {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%); 
  padding: 10px 20px; 
  color: black; 
  font-family: Arial, sans-serif;
  font-size: 16px;
  text-align: center;
}


  